.header{
	&__container{
		position: relative;
	}
	&__left-menu{
		width: 280px;
		z-index: 10;
		background: #fff;
		position: absolute;
		left: 20px;
		top: 0;
		padding: 20px;
		box-sizing: border-box;
		box-shadow: 0 13px 36px rgba(0, 0, 0, .14);
	}
	&__menu{
		padding: 35px 240px 35px 280px;
		text-align: center;
	}
	&__contact{
		width: 240px;
		padding: 35px 0 25px;
		float:right;
		line-height: 1.2;
		text-align: right;
		background: url(../images/contact.png) no-repeat left center;
	}
	&__phone{
		color: #9a6144;
		font-size: 22px;
		font-weight: bold;
		text-decoration: none;
	}
}